{{% extends "dashboard.html" %}}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Reminder Tab
{% endblock %}

{{% block content %}}
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="message you want to send" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">@gmail.com</span>
  </div>
  <button class="btn btn-primary" type="submit">Button</button>
{{% endblock %}}
